@model IEnumerable<RescueDesk.Models.Nota>
@{
    ViewBag.Title = "Notas";
    ViewBag.FAIcon = "fa fa-pencil-square-o";
    ViewBag.SubTitle = "Criar";
    ViewBag.AddUrl = Url.Action("Create");
}
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header">
                        <strong class="card-title">
                            @Html.DisplayFor(modelItem => item.titulo)
                            <bold>
                                <a href="@Url.Action("Delete", new { id = item.idnota })"
                                   title="Eliminar"
                                   data-ajax="true"
                                   data-ajax-method="GET"
                                   data-ajax-mode="after"
                                   data-ajax-update="#modal-body"
                                   class="btn btn-link minus-padd modal-link badge badge float-right mt-1"
                                   style="margin-right: -10px;margin-left: -2px"><i class="fa fa-trash-o fa-red"></i></a>
                                <a href="@Url.Action("Edit", new { id = item.idnota })"
                                   title="Editar"
                                   data-ajax="true"
                                   data-ajax-method="GET"
                                   data-ajax-mode="after"
                                   data-ajax-update="#modal-body"
                                   class="btn btn-link minus-padd modal-link badge badge float-right mt-1"><i class="fa fa-pencil fa-add"></i></a>
                            </bold>
                        </strong>
                    </div>
                    <div class="card-body notas-card">
                        <div class="col col-md-12">
                            <p class="card-text">@Html.DisplayFor(modelItem => item.corpo)</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .notas-card {
        height: 200px;
        overflow: auto;
    }
</style>