@model RescueDesk.Models.Departamento

@{
    Layout = null;
    ViewBag.Title = "Departamento";
    ViewBag.SubTitle = "";
}

<div class="col-lg-12">

    <div class="card">
        <div class="card-body card-block">
            <div class="row form-group">
                <div class="col col-md-12">
                    Tem a certeza que pretende eliminar o departamento de: <b>@Html.ValueFor(model => model.dept)</b>?
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-danger btn-sm">
                <i class="fa fa-trash-o"></i>&nbsp; Eliminar
            </button>
            <a onclick="closeModal()" class="btn btn-secondary btn-sm">
                <i class="fa fa-times"></i>&nbsp;Cancelar
            </a>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

