.minus-padd {
    padding-right: 5px !important;
    padding-left: 5px !important;
    padding-bottom: 0px;
    padding-top: 0px;
}

#modal-container .btn-secondary,
#modal-container .btn-danger {
    color: white !important;
}

#modal-container .btn-secondary:hover,
#modal-container .btn-danger:hover {
        color: white !important;
    }

.fa-red {
    color: #dc3545;
}

    .fa-red:hover {
        color: #8f222d;
    }

.card-body .row label {
    line-height: 35px;
}

.card-body .form-group {
    margin-bottom: initial;
}

tr.inactive {
    color: #bababa !important;
}

.fa-add {
    color: #007bff !important;
}

    .fa-add:hover {
        color: #0056b3 !important;
    }

.inactive a,
.inactive a:visited,
.inactive a:hover,
.inactive a:active {
    color: #bababa !important;
}

a.btn.disabled i {
    color: #868e96;
}

#foto {
    display:none;
}