@{
    Layout = null;
    ViewBag.Title = "Localidades";
    ViewBag.SubTitle = "Importar Ficheiro CTT";
}

@using (Html.BeginForm(
      actionName: "ImportFicheiro",
      controllerName: "Localidades",
      routeValues: null,
      method: FormMethod.Post,
      htmlAttributes: new { @enctype = "multipart/form-data" }))
{
    if (!string.IsNullOrEmpty((string)ViewBag.SubTitle))
    {
        <div class="modal-header">
            <h5 class="modal-title" id="staticModalLabel">@ViewBag.SubTitle</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="modal-body">
        <div class="row ">
            <div class="col col-md-12" style="margin-bottom:-14px">
                <div class="alert alert-light" role="alert">
                    Os <a href="https://www.ctt.pt/feapl_2/app/restricted/postalCodeSearch/postalCodeDownloadFiles.jspx" title="Download Códigos Postais CTT" class="alert-link">CTT</a> disponibilizam-lhe um ficheiro com os códigos postais mais recentes.
                </div>
            </div>
            <div class="col col-md-12" style="text-align:center">
                <label id="labelForFile" for="file" class="btn btn-success" style="width:65%; margin-bottom:0px">
                    Escolher ficheiro...
                </label>
                <input id="file" name="file" type="file" accept=".txt" style="display:none" />
                <small id="legenda" class="form-text text-muted">Nota: A submissão de um ficheiro tão grande poderá demorar algum tempo...</small>

                <img src="~/images/loading.gif" id="loading" style="display:none;"/>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i>&nbsp; Importar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> <i class="fa fa-times"></i>&nbsp;Cancelar</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

    <script>
        jQuery(document).ready(function () {
            $("#file").change(function (e) {
                var fileName = '';
                if (this.files && this.files.length > 1)
                    fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
                else
                    fileName = e.target.value.split('\\').pop();

               
                if (fileName)
                    $("#labelForFile").text(fileName);
            });

            $("form").submit(function (event) {
                debugger;
                $("#labelForFile").hide();
                $("#file").hide();
                $("#legenda").hide();
                $("#loading").show();
            });

        });
    </script>