@model IEnumerable<RescueDesk.Models.Localidade>

@{
    ViewBag.Title = "Localidades";
    ViewBag.FAIcon = "fa-map-marker";
    ViewBag.SubTitle = "Importar Ficheiro CTT";
    ViewBag.AddUrl = Url.Action("ImportFicheiro");
}

<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table id="bootstrap-data-table" class="table table-striped table-bordered" style="font-size:14px">
                        <thead>
                            <tr>
                                <th style="width: 20%">
                                    @Html.DisplayNameFor(model => model.codpostal)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.nomeLocalidade)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.codpostal)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nomeLocalidade)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

