@model IEnumerable<RescueDesk.Models.Localidade>

@{
    ViewBag.Title = "Localidades";
    ViewBag.FAIcon = "fa-map-marker";
    ViewBag.SubTitle = "Importar Ficheiro";
    ViewBag.AddUrl = Url.Action("ImportFicheiro");
}

<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table id="bootstrap-data-table-ajax" class="table table-striped table-bordered" data-url="@Url.Action("ObterLocalidades")">
                        <thead>
                            <tr>
                                <th style="width: 20%">
                                    @Html.DisplayNameFor(model => model.codpostal)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.nomeLocalidade)
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

